<!-- <div class="container-fluid">
  <h1>Bootcamp enrollment form</h1>
  <form #userForm="ngForm">

    <pre>{{userForm.value | json}}</pre>

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" ngModel name="name">
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" ngModel name="email">
    </div>

    <div class="form-group">
      <label for="">Phone</label>
      <input type="tel" class="form-control" ngModel name="phone">
    </div>

    <div class="form-group my-3">
      <select name="" id="" class="form-select" ngModel name="interest">
        <option value="" class="selected">I am interested in</option>
        <option value="" *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="">Time preference</label>
      <div class="form-check">
        <input type="radio" ngModel class="form-check-input" name="timePreference" value="morning">
        <label for="" class="form-check-label">Morning (9AM - 12AM)</label>
      </div>
      <div class="form-check">
        <input type="radio" ngModel class="form-check-input" name="timePreference" value="evening">
        <label for="" class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" ngModel name="isOffer">
      <label for="" class="form-check-label">Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/student" routerLinkActive="active">Students</a></li>
    <li><a routerLink="/course" routerLinkActive="active">Courses</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>