<!DOCTYPE html>

<html lang="en">

<head>
  <title>Update Student</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <h3 class="display-6 my-3" align="center">Update Student</h3>
    <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
    </div>
    <div class="m-5 mx-auto col-md-6" >
        <form #studentForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group row mb-4">
                <label for="name" class="col-md-3 col-form-label">Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="name" 
                    [(ngModel)]="student.name" name="student.name"
                    placeholder="Your name" required #name="ngModel"
                    [class.is-invalid]="name.invalid && name.touched"/>
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="dob" class="col-md-3 col-form-label">Date of birth</label>
                <div class="col-md-9">
                    <input type="date" class="form-control" [(ngModel)]="student.dob" name="student.dob"
                           id="dob" placeholder="dd-mm-yyyy" required #dob="ngModel"
                           [class.is-invalid]="dob.invalid && dob.touched"/>
                    <small class="text-danger" [class.d-none]="dob.valid || dob.untouched">Date of Birth is required</small>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="email" class="col-md-3">Email</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" [(ngModel)]="student.email" name="student.email"
                           id="email" placeholder="example@email.com" required #email="ngModel"
                           [class.is-invalid]="email.invalid && email.touched"/>
                    <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="phone" class="col-md-3">Phone Number</label>
                <div class="col-md-9">
                    <input type="tel" class="form-control"  [(ngModel)]="student.phone" name="student.phone"
                           id="phone" placeholder="Your phone number"
                           #phone="ngModel" pattern="^\d{10}$" 
                           [class.is-invalid]="phone.invalid && phone.touched"/>
                           <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">
                               Phone number must be 10 digits
                           </small>
                </div>
            </div>
            <div class="text-center">
                <button [disabled]="studentForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>

    </div>

</body>

</html>

